autopep8==1.5.2
base58==2.0.0
certifi==2022.12.7
chardet==3.0.4
docutils==0.16
flit==2.3.0
flit-core==2.3.0
idna==2.9
ipfshttpclient==0.4.13.2
multiaddr==0.0.9
netaddr==0.7.19
pycodestyle==2.6.0
pytoml==0.1.21
requests==2.23.0
six==1.14.0
urllib3==1.25.9
varint==1.0.2
